<h2>Welcome home {{user.username}}</h2>
{{#if user}}
    {{#if error}}
        <h2 class="post-submission-error">{{error}}</h2>
    {{/if}}
    <form method="post" action="/post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        Text: <textarea name="post"></textarea>
        <input id="submitPost" type="submit" value="Submit">
    </form>
{{/if}}
<h2>Original</h2>
<ol class="original">
    {{#each posts}}
        <li>{{this}}</li>
    {{/each}}
</ol>
<h2>Preview</h2>
<ol class="formatted">
    {{#each posts}}
        <li>{{{sanitize this}}}</li>
    {{/each}}
</ol>
<a href="{{ link posts.[0] }}">Click me</a>
<button onclick="alert('liked');">Like</button>